<!DOCKTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ID - <%= newsId %></title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <% include blocks/header.ejs %>
    <h1>НОВОСТНАЯ СТРАНИЦА</h1>
    <h2><strong>ID страницы - <%= newsId %></strong></h2>

</body>
</html>
