<!DOCKTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заголовок</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <% include blocks/header.ejs %>
    <h1>УМНИЦА!</h1>
    <p>
     <b>Email:</b> <%= data.email %><br>
     <b>Pass:</b> <%= data.pass %><br>
     <b>isCheck:</b> <%= data.check %></p>
     </p>
</body>
</html>
